<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Tinder Bot</title>
  </head>

  <div class="card">
  	<div class="card-body">

        <h1 class="display-4">Tinder Bot</h1>
    </div>

  </div>

  <div class="jumbotron">

	<h1 class="display-4">Account Information</h1>
	<form action="submit" method="post">{% csrf_token %}
	  {{ form.as_p }}
	  <button class="btn btn-success ml-2" type="submit">Submit</button>
	</form>
</div>

</html>